extends layout

block main-content
    div.AboutUsHeader
        h1#AboutUsHeader About Us
    div#AboutUsInfo   
        p Welcome to our Pokemon Card Shop! We are a team of dedicated Pokemon enthusiasts who have a passion for collecting and playing with Pokemon cards. Our mission is to provide our customers with a wide selection of high-quality Pokemon cards, along with the best possible customer service.
        p In our shop, you can find a vast selection of Pokemon cards from all generations, including rare and hard-to-find cards. Whether you are a seasoned collector or just starting out, we have something for everyone. Our knowledgeable staff is always on hand to answer questions and offer advice on how to build the perfect deck or collection.
    div#heroImageContainer
        img#aboutUsHeroImage(src="/images/charbrilliant.jpg")




