block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | Pokemon Card Stop 
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    header#header 
      .header-content   
        h2#site-name 
          a(href="http://localhost:8000") Pokemon Card Stop 
        nav#main-navigation 
          ul 
            li 
              a(href="http://localhost:8000/products") Products
              a(href="http://localhost:8000/about") About
        
    main#main 
      block main-content 
    footer#footer 
      p &copy; Copyright HTTP5211, 2023.