extends layout 

block main-content  
    div.productsHeader
        h1.page-title Products  
    div.product-list
        each card in products
            div.product 
                img(src=`${card.imgPath}`)
                div #{card.pokemon}
                div ~#{card.set}~ 
                div #{card.price}
                button Buy
        
